<div class="general-wrapper">
    <!-- Sidebar -->
    <app-nav-menu></app-nav-menu>
    <!-- Page Content -->
    <div class="content">
        <div class="prelistado">
            <h1>Listado de actividades</h1>
            <div class="cuadroBusqueda">
                <span class="fa fa-search"></span>
                <input 
                    id="filtro"
                    [(ngModel)]='filtro'
                    (ngModelChange)='filtrarListado()'
                    type="text" 
                    placeholder="Buscar una actividad..."
                >
            </div>
            <button type="button" (click)="crear()" class="btn btn-success">Crear una nueva actividad</button>
            <br>
        </div>
       
        <div class="listado">
            <ul *ngFor="let actividad of listadoActividadesFiltrado">
                <li>
                    {{actividad.nombre}}
                    <button type="button" (click)="navegaVer(actividad.id)" class="boton-ver fa fa-eye"></button>
                    <button type="button" (click)="navegaEditar(actividad.id)" class="btn btn-warning">Editar</button>
                    <button type="button" (click)="eliminar(actividad.id)" class="btn btn-danger">Eliminar</button>
                </li>
            </ul>
        </div>
    </div>
</div>

