#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: var(--verde-institucional);
    background: #fff;
    font-size: 36px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar #logo {
    margin-top: 62px;
    width: 100%;
    height: auto;
}

#sidebar ul {
    margin-top: 50%;
}
#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

a {
    color: var(--verde-institucional);
}
#sidebar ul a{
    text-decoration: none;
    border: solid var(--verde-institucional) 1px;
    margin: 3px;
}

#sidebar ul a:hover, a:focus {
    background: var(--verde-institucional);
    color: white;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.active{
    background: var(--verde-institucional);
    color: white;
}

.disabled {
    pointer-events: none;
    background-color: rgb(233, 233, 233);
    color: gray;
    border-color: gray;
}
