<div class="general-wrapper">
    <!-- Sidebar -->
    <app-nav-menu></app-nav-menu>
    <!-- Page Content -->
    <div class="content">
        <div class="prelistado">
            <h1>Listado de objetivos</h1>
            <div class="cuadroBusqueda">
                <span class="fa fa-search"></span>
                <input 
                    id="filtro"
                    [(ngModel)]='filtro'
                    (ngModelChange)='filtrarListado()'
                    type="text" 
                    placeholder="Buscar un objetivo..."
                >
            </div>
            <button type="button" (click)="crear()" class="btn btn-lg btn-success">Crear un nuevo objetivo</button>
            <br>
        </div>
       
        <div class="listado">
            <ul *ngFor="let objetivo of listadoObjetivosFiltrado">
                <li>
                    {{objetivo.nombre}}
                    <button type="button" (click)="eliminar(objetivo.id)" class="btn btn-danger fa fa-trash"></button>
                    <button type="button" (click)="navegaEditar(objetivo.id)" class="btn btn-warning fa fa-edit"></button>
                    <button type="button" (click)="objetivo.toggle=!objetivo.toggle" class="boton-ver fa fa-eye"></button>
                    <p *ngIf="objetivo.toggle">{{objetivo.descripcion}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

