<div class="general-wrapper">
    <!-- Sidebar -->
    <app-nav-menu></app-nav-menu>
    <!-- Page Content -->
    <div class="content">
        <div class="prelistado">
            <h1>Mi perfil</h1>
            <br>
        </div>

        <div class="contenedor">
            <ul class="list-group">
                <li class="list-group-item"><label for="nombre">Nombre: </label> {{facilitador.nombre}} </li>
                <li class="list-group-item"><label for="apellidos">Apellidos: </label> {{facilitador.apellidos}} </li>
                <li class="list-group-item"><label for="fecha">Fecha de nacimiento: </label> {{facilitador.nacimiento}} </li>
                <li class="list-group-item"><label for="email">Correo: </label> {{facilitador.correo}} </li>
                <li class="list-group-item"><label for="tlf">Tlf: </label> {{facilitador.telefono}} </li>
            </ul>
        </div>

        <div class="row botones">
            <button type="button" class="btn btn-lg btn-danger">Cambiar contraseña</button>
            <button type="button" [routerLink]= "['/perfil/editar', facilitador.correo]" class="btn btn-lg btn-warning">Cambiar datos de contacto</button>
      
    </div>
</div>

