<div class="general-wrapper">
    <!-- Sidebar -->
    <app-nav-menu></app-nav-menu>
    <!-- Page Content -->
    <div class="content">
        <div class="prelistado">
            <h1>{{actividad.nombre}}</h1>
            <hr>
            <br>
            <p><span>Descripción:</span> {{actividad.descripcion}}</p>
            <br>
        </div>
        <br>
        <div class="estadisticas">
            <h2>
                Estadísticas
            </h2>
            <p>Han participado {{feedback.votos}} socios en este feedback</p> <br>
            <ng-container *ngIf="showFeedback(); then feedbackBlock"></ng-container>
            <ng-template #feedbackBlock>
                <p>¿Te ha parecido útil? {{100*feedback.utiles/feedback.votos}}%</p>
                <p>¿Te ha parecido difícil? {{100*feedback.dificiles/feedback.votos}}% </p>
                <p>¿Te ha gustado la actividad? {{100*feedback.gustados/feedback.votos}}%</p>
            </ng-template>
        </div>
    </div>
    
</div>


