
<div class="col-md-4 offset-md-4">
    <form action="/perfil/editar">
        <div class="text-center">
            <img id="img1" src="./../../../../assets/LogoAVale.png" />
        </div>
        <div class="container">

            <label for="tlf"><b>Teléfono</b></label>
            <input type="number" placeholder="Actualizar telefono del usuario" #tlf name="tlf" required>

            <button type="button" (click)="cambiarDatos(tlf.value)">Aceptar</button>
        </div>
    </form>
</div>