<div class="general-wrapper">
    <!-- Sidebar -->
    <app-nav-menu></app-nav-menu>
    <!-- Page Content -->
    <div class="content">
        <div class="prelistado">
            <h1>Listado de facilitadores</h1>
            <div class="cuadroBusqueda">
                <span class="fa fa-search"></span>
                <input 
                    id="filtro"
                    [(ngModel)]='filtro'
                    (ngModelChange)='filtrarListado()'
                    type="text" 
                    placeholder="Buscar un facilitador..."
                >
            </div>
            <br>
        </div>
       
        <div class="listado">
            <ul *ngFor="let facilitador of listadoFacilitadoresFiltrado">
                <li>
                    {{facilitador.nombre}} {{facilitador.apellidos}}
                    <input type="hidden" value="{{facilitador.correo}}" #correo name="correo">
                    <button type="button" (click)="facilitador.toggle=!facilitador.toggle" class="boton-ver fa fa-eye"></button>
                    <button type="button" (click)="eliminar(correo.value)" class="btn btn-danger fa fa-trash"></button>

                    <p *ngIf="facilitador.toggle">{{facilitador.contrasena}}</p>
                </li>  
            </ul>
          
        </div>
       
    </div>
</div>


