<div class="general-wrapper">
    <!-- Sidebar -->
    <app-nav-menu></app-nav-menu>
    <!-- Page Content -->
    <div class="content">
        <div class="prelistado">
            <h1>Listado de socios</h1>
            <div class="cuadroBusqueda">
                <span class="fa fa-search"></span>
                <input 
                    id="filtro"
                    [(ngModel)]='filtro'
                    (ngModelChange)='filtrarListado()'
                    type="text" 
                    placeholder="Buscar un socio..."
                >
            </div>
            <br>
        </div>
        <ng-container *ngIf="isCentro(); then centroF; else ElseBlock"></ng-container>
        <ng-template #centroF>
            <div class="listado">
                <ul *ngFor="let socio of listadoSociosFiltrado">
                    <li>
                        {{socio.nombre}} {{socio.apellidos}}
                        <button type="button" (click)="eliminar(socio.id)" class="btn btn-danger fa fa-trash"></button>
                        <button type="button" (click)="navegaRecuperarContraSocio()" class="btn btn-warning fa fa-key"></button>
                        <button type="button" [routerLink]= "['/centro/socio/crear']" class="btn btn-success fa fa-plus"></button>
                        <button (click)="navegaVer(socio.id)"  class="boton-ver fa fa-eye"></button>
                    </li>
                </ul>
            </div>
        </ng-template>

        <ng-template #ElseBlock>
            <div class="listado">
                <ul *ngFor="let socio of listadoSociosFiltrado">
                    <li>
                        {{socio.nombre}} {{socio.apellidos}}
                        <button type="button" (click)="eliminar(socio.id)" class="btn btn-danger fa fa-trash disabled" disabled></button>
                        <button type="button" (click)="navegaRecuperarContraSocio()" class="btn btn-warning fa fa-key disabled" disabled></button>
                        <button type="button" [routerLink]= "['/centro/socio/crear']" class="btn btn-success fa fa-plus disabled" disabled></button>
                        <button (click)="navegaVer(socio.id)"  class="boton-ver fa fa-eye"></button>
                    </li>
                </ul>
            </div>
        </ng-template>
        
    </div>
</div>

